<div class="container m-4">
  <h2><%= t('.employee_positions_history') %></h2>

  <% if @employee_positions.present? %>
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col"><%= t('.position_name') %></th>
          <th scope="col"><%= t('.start_date') %></th>
          <th scope="col"><%= t('.end_date') %></th>
          <th scope="col"><%= t('.years_on_position') %></th>
          <th scope="col"><%= t('.basic_salary') %></th>
          <th scope="col"><%= t('.total_salary') %></th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @employee_positions.each do |employee_position| %>
          <% decorated_position = employee_position.decorate %>
          <tr>
            <td><%= decorated_position.position.name %></td>
            <td><%= decorated_position.start_date %></td>
            <td><%= decorated_position.end_date %></td>
            <td><%= decorated_position.years_on_position %></td>
            <td><%= decorated_position.position.salary %></td>
            <td><%= decorated_position.total_salary %></td>
            <td>
              <%= link_to t('button.edit'), edit_employee_position_path(@employee, employee_position), class: "btn btn-primary"   %>
            </td>
          </tr>
        <% end %>
      </tbody>
   </table>
  <% else %>
    <p><%= t('.no_positions_found"') %></p>
  <% end %>

  <%= link_to t('button.back'), employee_path(@employee), class: "btn btn-primary"   %>
</div>