<div class="container m-4">
  <div class="row">
    <div class="col-4">

      <h2>Employee Details</h2>
      <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= @employee.first_name %> <%= @employee.middle_name %> <%= @employee.last_name %></h5>
        <h6 class="card-subtitle mb-2 text-body-secondary mt-2">
          <% if @employee.positions.any? %>
        Current position: <%= @employee.positions.last.name %>
          <% else %>
          No current position
          <% end %></h6>
          <table class="table table-hover table-bordered mt-4">
            <tbody>
              <tr>
                <th>Passport Data</th>
                <th><%= @employee.passport_data %></th>
              </tr>
              <tr>
                <th>Date of Birth</th>
                <th><%= @employee.date_of_birth %></th>
              </tr>
              <tr>
                <th>Place of Birth</th>
                <th><%= @employee.place_of_birth %></th>
              </tr>
              <tr>
                <th>Home Adress</th>
                <th><%= @employee.home_address %></th>
              </tr>
            </tbody>
          </table>
          <div class="row align-items-start">
            <div class="col">
              <%= link_to "Edit Employee", edit_employee_path(@employee), class: "btn btn-light" %>
            </div>
            <div class="col">
              <%= button_to employee_path(@employee), method: :delete, onclick: "return confirm('Are you sure?')", class: "btn btn-light", form: { class: "d-inline" } do %>
                Delete Employee
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">

      <h3>Positions</h3>
        <% if @employee.positions.any? %>
          <ul class="col-sm-5">
            <% @employee.positions.each do |position| %>
              <ol class="list-group list-group-flus">
                <li class="list-group-item"><%= position.name %> <%= position.salary %></li>
              </ol>
            <% end %>
          </ul>
        <% else %>
          <p>No positions found for this employee.</p>
        <% end %>

    </div>
  </div>
  <div class="row-2 mt-2">
    <%= link_to "Add Position", new_employee_employee_position_path(@employee), class: "btn btn-primary" %>
    <%= link_to "Return to Employees List", employees_path, class: "btn btn-primary" %>
    <%= link_to "Return to Departmentss List", departments_path, class: "btn btn-primary" %>
  </div>
</div>
