<%= form_with(model: position) do |form| %>
  <% if position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
        <% position.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field mb-3">
    <%= form.label :salary %>
    <%= form.number_field :salary %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>