<div class="container m-4">
<h2><%= t('.position_details') %></h2>
  <p>
    <strong><%= t('positions.index.name') %>:</strong>
    <%= @position.name %>
  </p>

  <p>
    <strong><%= t('positions.index.salary') %>:</strong>
    <%= @position.salary %>
  </p>

  <br>

  <%= link_to t('button.edit'), edit_position_path(@position), class: "btn btn-primary" %>
  <%= button_to position_path(@position), method: :delete, onclick: "return confirm('#{t('confirmations.are_you_sure')}')", class: "btn btn-light", form: { class: "d-inline" } do %>
                <%= t('button.delete') %>
  <% end %> 
  <%= link_to t('button.back'), positions_path, class: "btn btn-primary" %>
</div>