<div class="container m-4">
  <h1><%= t('.list_of_vacations')%></h1>
  <table class="table table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"><%= t('.employee')%></th>
        <th scope="col"><%= t('.position')%></th>
        <th scope="col"><%= t('.vacation_period')%></th>
        <th scope="col"><%= t('.used_vacation_days')%></th>        
      </tr>
    </thead>
    <tbody>
      <% @vacations.each_with_index do |vacation, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= vacation.employee.first_name %></td>
          <td><%= vacation.position&.name %></td>
          <td><%= vacation.decorate.vacation_period %></td>
          <td><%= vacation.decorate.used_vacation_days %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @vacations, class: 'pagination justify-content-center' %>
</div>