<div class="conainer m-4">
<h1><%= t('.employee_list', department_name: @department.name) %></h1> 
  <table class="table table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th scope="col"><%= t('.first_name') %></th>
        <th scope="col"><%= t('.middle_name') %></th>
        <th scope="col"><%= t('.last_name') %></th>
        <th scope="col"><%= t('.passport_data') %></th>
        <th scope="col"><%= t('.date_of_birth') %></th>
        <th scope="col"><%= t('.place_of_birth') %></th>
        <th scope="col"><%= t('.home_adress') %></th>
        <th scope="col"><%= t('.head_of_department') %></th>
      </tr>
    </thead>
    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td scope="row"><%= employee.id %></td>
          <td><%= employee.first_name %></td>
          <td><%= employee.middle_name %></td>
          <td><%= employee.last_name %></td>
          <td><%= employee.passport_data %></td>
          <td><%= employee.date_of_birth %></td>
          <td><%= employee.place_of_birth %></td>
          <td><%= employee.home_address %></td>
          <td>
            <% if employee.positions.any? %>
               
                <%= employee.find_head_of_department.name if employee.find_head_of_department %>
            <% end %>
          </td>
          <td><%= link_to t('.view_details'), employee_path(employee), class: "btn btn-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to t('.employees_list'), employees_path, class: "btn btn-primary mt-4" %>
  <%= link_to t('.departments_list'), departments_path, class: "btn btn-primary mt-4" %>
</div>