<nav class="navbar-dark navbar-expand-lg bg-body-tertiary" style="background-color: #0d6efd; text-color: #ffffff">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to t(".employees"), employees_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t(".departments"), departments_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t(".positions"), positions_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t(".vacations"), vacations_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <% if I18n.locale == :en %>
            <%= link_to "UA", url_for(locale: :uk), class: 'btn btn-primary' %>
          <% elsif I18n.locale == :uk %>
            <%= link_to "ENG", url_for(locale: :en), class: 'btn btn-primary' %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
